.advantages {
  margin-bottom: 20px;
}

.advantages__slogan {
  margin-bottom: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @main;
}

.advantages__inner {
  position: relative;
  padding-top: 120px;
  background-color: #f2f2f2;
}

.advantages__inner::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  background: url("../img/bg-triangle-white.svg") 50% 50%;
  background-color: #f2f2f2;
}

.advantages__inner::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -20px;
  z-index: 3;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__title br {
  display: none;
}

.advantages__text {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @main;
}

.advantages__image {
  position: relative;
  z-index: 2;
  top: 20px;
  display: block;
  margin: 0 auto;
}

.advantages__image-second,
.advantages__image-third {
  display: none;
}

.advantages__research {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 7px;
  }

  .advantages__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-top: 45px;
  }

  .advantages__slogan {
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
  }

  .advantages__list {
    order: 2;
    width: 310px;
    height: 400px;
    margin-top: -30px;
    padding-top: 75px;
  }

  .advantages__text {
    margin-bottom: 7px;
  }

  .advantages__item {
    text-align: left;
  }

  .advantages__image {
    top: -30px;
    left: 20px;
    z-index: 6;
    order: 1;
    width: 267px;
    height: 485px;
    overflow: visible;
  }

  .advantages__research {
    position: relative;
    display: block;
    padding-top: 65px;
  }

  .advantages__research-slogan {
    width: 180px;
    margin: 0;
    padding: 0;
    margin-left: 330px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .advantages__research-text {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-left: 330px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @main;
  }

  .advantages__research-link {
    margin-left: 330px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration: underline;
  }

  .advantages__research::before {
    content: " ";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 245px;
    height: 280px;
    background: url("../img/icon-timer.svg") no-repeat;
    background-size: contain;
  }

  .advantages__research::after {
    content: "24";
    position: absolute;
    left: 41px;
    top: 89px;
    width: 200px;
    height: 200px;
    font-weight: 700;
    font-size: 96px;
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
    color: #d22856;
    border: 14px solid #d22856;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 25px;
    margin-bottom: 10px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    width: 890px;
    height: auto;
    margin: -12px auto 0;
    padding-top: 0;
  }

  .advantages__item {
    width: 250px;
  }

  .advantages__image {
    z-index: 10;
    left: 324px;
    top: -70px;
    height: 302px;
    width: 292px;
  }

  .advantages__image-second,
  .advantages__image-third {
    position: absolute;
    z-index: 5;
    display: block;
  }

  .advantages__image-second {
    top: -25px;
    left: 134px;
  }

  .advantages__image-third {
    top: -25px;
    left: 457px;
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__inner {
    flex-direction: column;
    margin-top: 100px;
  }

  .advantages__inner::before {
    height: 90px;
    top: -20px;
  }

  .advantages__inner::after {
    display: none;
  }

  .advantages__title {
    padding-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
  }

  .advantages__title br {
    display: block;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  .advantages__research {
    min-height: 450px;
    padding-top: 0;
    background-color: #f2f2f2;
  }

  .advantages__research-slogan {
    width: auto;
    padding-left: 165px;
    padding-top: 120px;
    padding-bottom: 10px;
  }

  .advantages__research-slogan br {
    display: none;
  }

  .advantages__research-text {
    width: 680px;
    padding-left: 165px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__research-link {
    padding-left: 165px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__research::before {
    content: " ";
    left: 130px;
    top: 27px;
    width: 330px;
    height: 350px;
    background: url("../img/icon-timer.svg") no-repeat;
  }

  .advantages__research::after {
    left: 152px;
    top: 95px;
    width: 257px;
    height: 257px;
    font-weight: 700;
    font-size: 120px;
    line-height: 186px;
    text-align: center;
    vertical-align: middle;
    color: #d22856;
    border: 20px solid #d22856;
    border-radius: 50%;
  }
}
