.advantages__slogan {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @main;
}

.advantages__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: #f2f2f2;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @main;
}
