.apps {
  background-color: @main;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.apps__promo {
  width: 320px;
  height: 396px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0% 100%, url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  background-color: #283645;
}

.apps__slogan {
  display: none;
}

.apps__button {
  display: inline-block;
  margin: 28px 20px 32px;
  padding-top: 15px;
  vertical-align: middle;
  text-align: center;
  height: 55px;
  width: 282px;
  border: 3px solid white;
}

.apps__button:hover, .apps__button:focus {
  color: #d22856;
  background-color: #ffffff;
}

.apps__button:active {
  color: rgba(210, 40, 86, 0.3);
}

.apps__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 57px;
  padding: 0;
}

.apps__text {
  margin: 18px 30px 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .apps {
    position: relative;
  }

  .apps__slogan {
    position: absolute;
    display: block;
    width: 230px;
    margin: 0;
    padding: 0;
    padding-top: 95px;
    margin-left: 55px;
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
  }

  .apps__button,
  .apps__list,
  .apps__text {
    position: absolute;
  }

  .apps__button {
    top: 245px;
    width: 300px;
    margin-top: 20px;
  }

  .apps__list {
    top: 370px;
    left: 10px;
    width: 205px;
  }

  .apps__text {
    top: 442px;
    left: -10px;
    width: 300px;
    font-size: 18px;
  }

  .apps__promo {
    width: @tablet-width;
    height: 605px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat 50% 100%, url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  }
}

@media (min-width: @desktop-width) {
  .apps__promo {
    width: @desktop-width;
    height: 740px;
  }
}
