.apps__promo {
  width: 320px;
  height: 400px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 50% 0, url("../img/bg-back-mobile@1x.jpg");
  background-color: #283645;
}

.apps__button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 55px;
  width: 282px;
  border: 3px solid white;
}

.apps__list {
  display: flex;
}

.apps__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .apps {
    position: relative;
  }

  .apps__button,
  .apps__list,
  .apps_text {
    position: absolute;
    top: 150px;
  }

  .apps__promo {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .apps__promo {
    width: @desktop-width;
  }
}
