.contact {
  position: relative;
  margin: 0 auto;
}

.contact__title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @main;
}

.contact__block {
  margin: 0 15px;
}

.contact__text {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.contact__phone,
.contact__email,
.contact__address {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}

.contact__phone {
  margin-bottom: -5px;
}

.contact__email {
  margin-bottom: -5px;
}

.contact__email:hover,
.contact__email:focus {
  color: @main;
  text-decoration: underline;
}

.contact__email:active {
  color: rgba(40, 54, 69, 0.3);
}


.contact__map {
  width: 320px;
  height: 200px;
  margin-top: 20px;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/mymap-mobile@1x.jpg") no-repeat 50% 95%;
}

.contact::after {
  position: absolute;
  bottom: 45px;
  left: 140px;
  display: block;
  content: " ";
  width: 37px;
  height: 37px;
  background-color: #d22856;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact__title {
    width: 100%;
  }

  .contact__block {
    width: 50%;
  }

  .contact__map {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .contact__block {
    width: 30%;
  }
}
