.contact {
  position: relative;
  margin: 0 auto;
}

.contact__inner {
  position: relative;
  z-index: 8;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

.contact__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: @main;
}

.contact__title br {
  display: none;
}

.contact__block {
  margin: 0 auto;
}

.contact__text {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.contact__phone,
.contact__email,
.contact__address {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}

.contact__phone {
  margin-bottom: -5px;
}

.contact__email {
  margin-bottom: -5px;
}

.contact__email:hover,
.contact__email:focus {
  color: @main;
  text-decoration: underline;
}

.contact__email:active {
  color: rgba(40, 54, 69, 0.3);
}


.contact__map {
  position: relative;
  width: 320px;
  height: 200px;
  margin: 20px auto 0;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/mymap-mobile@1x.jpg") no-repeat 50% 95%;
  background-color: rgb(220, 220, 220);

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/mymap-mobile@2x.jpg") no-repeat 50% 95%;
  }
}

.contact__inner::after {
  position: absolute;
  bottom: -155px;
  left: 140px;
  display: block;
  content: " ";
  width: 37px;
  height: 37px;
  background-color: #d22856;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

.contact__google {
  position: absolute;
  z-index: 20;
  width: 100%;
  min-width: 320px;
  height: 200px;
  top: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact__inner {
    width: 660px;
    justify-content: space-around;
  }

  .contact__title {
    width: 100%;
    margin: 0 100px 10px;
    font-size: 40px;
    line-height: 50px;
  }

  .contact__text {
    margin-bottom: 5px;
  }

  .contact__block {
    width: 35%;
    margin: 0;
    margin-bottom: 25px;
  }

  .contact__block:last-child {
    margin-top: 0;
  }

  .contact__map {
    width: 100%;
    height: 375px;
    margin-top: 0;
    margin-bottom: -25px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/bg-map-tablet@1x.jpg") no-repeat 50% 75%;
    background-size: 660px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/bg-map-tablet@2x.jpg") no-repeat 50% 75%;
      background-size: 660px auto, 690px auto;
    }
  }

  .contact__inner::after {
    position: absolute;
    bottom: -205px;
    left: 310px;
  }

  .contact__google {
    top: 0;
    height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    justify-content: center;
  }

  .contact__inner {
    justify-content: center;
    width: 1200px;
  }

  .contact__block {
    width: 270px;
  }

  .contact div:nth-of-type(2) {
    order: 3;
  }

  .contact div:nth-of-type(3) {
    order: 2;
    margin-left: 50px;
    margin-right: 50px;
  }

  .contact div:nth-of-type(1) {
    order: 1;
  }

  .contact div:nth-of-type(4) {
    order: 4;
  }

  .contact__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .contact__title br {
    display: block;
  }

  .contact__text {
    margin-bottom: 25px;
  }

  .contact__map {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    margin-top: -10px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/bg-map-desktop@1x.jpg") no-repeat 50% 60%;
    background-size: 1200px auto, 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0%, url("../img/bg-map-desktop@2x.jpg") no-repeat 50% 60%;
      background-size: 1200px auto, 1200px auto;
    }
  }

  .contact__inner::after {
    bottom: -260px;
    left: 580px;
  }

  .contact__google {
    top: 0;
    height: 500px;
  }
}
