.main-nav {
  width: 100%;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__toggle {
  background-color: @main;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-nav__toggle:hover path {
  fill: #d22856;
}

.main-nav__toggle:active path {
  fill: rgba(210, 40, 86, 0.3);
}

@media (max-width: 1199px) {
  .main-nav--opened .site-list__item {
    display: block;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav__burger--on,
  .main-nav__cross--on {
    display: block;
  }

  .main-nav__burger--off,
  .main-nav__cross--off {
    display: none;
  }

  .main-nav--nojs ~ .page-header__top .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
