.main-nav {
  width: 100%;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__toggle {
  background-color: @main;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-nav__toggle:hover path,
.main-nav__toggle:focus path {
  fill: #d22856;
}

.main-nav__toggle:active path {
  fill: rgba(210, 40, 86, 0.3);
}

.main-nav__burger {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}
