.main-nav__toggle {
  background-color: @main;
  outline: none;
  border: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__inner {
  margin: 0 130px;
  }

  .main-nav__toggle {
    display: none;
  }
}
