.modal {
  display: none;
  position: absolute;
  z-index: 50;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
}

.modal--success {
  top: 1000px;
}

.modal--failure {
  top: 500px;
}

.modal__title {
  margin-top: 43px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal__text {
  margin: 0 30px 35px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @main;
}

.modal__button {
  display: inline-block;
  width: 280px;
  margin: 0 20px 53px;
  padding: 23px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.modal__button:hover,
.modal__button:focus {
  background-color: #1c9b5e;
}

.modal__button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1c9b5e;
}

.modal__button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: #e5e5e5;
}

.modal--success .modal__button-area {
  background-color: rgb(242, 242, 242);
}

.modal--success .modal__button {
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 460px;
    margin-left: -230px;
  }

  .modal__title {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal__text {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
  }

  .modal__button {
    width: 300px;
    margin-left: 80px;
  }
}

@media (min-width: @desktop-width) {
  .modal--success {
    width: 780px;
    margin-left: -390px;
  }

  .modal--success .modal__text {
    margin-left: 190px;
    margin-right: 190px;
  }

  .modal--success .modal__button {
    width: 460px;
    margin-left: 166px;
  }
}
