.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer--index {
  display: none;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 20px;
}

.page-footer__logo:hover .page-footer__logo-hover,
.page-footer__logo:focus .page-footer__logo-hover {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo-hover {
  fill: rgb(212, 214, 218);
}

.page-footer__logo:active .page-footer__logo-active {
  fill: rgb(245, 202, 214);
}

.page-footer__social {
  margin-top: 37px;
}

.page-footer__copyright {
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
  }

  .page-footer__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__logo {
    margin-top: 10px;
  }

  .page-footer__social {
    margin-top: 26px;
  }

  .page-footer__copyright {
    margin-top: 26px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__inner {
    margin: 40px 125px 20px 130px;
  }

  .page-footer__social {
    position: relative;
    left: 10px;
  }
}
