.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px 20px;
}
