.page-header {
  position: relative;
  z-index: 3;
  width: 320px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding-top: 22px;
  padding-bottom: 18px;
}

.page-header__logo {
  z-index: 1;
}

.page-header__logo-desktop,
.page-header__logo-tablet {
  display: none;
}

.page-header__toggle {
  z-index: 1;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.page-header__toggle:hover path {
  fill: #d22856;
}

.page-header__toggle:active path {
  fill: rgba(210, 40, 86, 0.3);
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
  }

  .page-header__top {
    padding-top: 28px;
    padding-bottom: 41px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo img {
    display: none;
  }

  .page-header__logo[href]:hover path {
    fill: #d22856;
  }

  .page-header__logo[href]:active path {
    fill: rgb(92, 102, 112);
  }

  .page-header__toggle {
    position: relative;
    top: 8px;
    left: 7px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__inner {
    flex-wrap: nowrap;
    margin: 0 130px;
  }

  .page-header__top {
    width: auto;
    margin: 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (max-width: 959px) {
  .page-header__burger--on,
  .page-header__cross--on {
    display: block;
  }

  .page-header__burger--off,
  .page-header__cross--off {
    display: none;
  }

  .main-nav--nojs ~ .page-header__top .page-header__toggle {
    display: none;
  }
}
