.review__wrapper {
  margin: -5px 20px 10px;
}

.review__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review__author {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.review__text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @main;
}

.review__toggles {
}
