.tariffs__wrapper {
  background-color: #f2f2f2;
}

.tariffs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.tariffs__header {
  background: url("../img/bg-hit.svg") no-repeat;
  background-color: @main;
}

.tariffs__title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.tariffs__price {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tariffs__feature {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @main;
}

.tariffs__feature--on {
  background: url("../img/icon-yes.svg") no-repeat 100% 0;
}

.tariffs__feature--off {
  background: url("../img/icon-no.svg") no-repeat 100% 0;
}
