.tariffs {
  margin-bottom: 43px;
}

.tariffs__wrapper {
  position: relative;
  background-color: #f2f2f2;
}

.tariffs__wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 120px;
  background: url("../img/bg-triangle-white.svg") 50% 0% no-repeat;
  background-color: #f2f2f2;
}

.tariffs__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-top: 120px;
  list-style: none;
  text-align: center;
  background-color: #ffffff;
}

.tariffs__item {
  width: 100%;
}

.tariffs__item::before {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 20px;
  display: block;
  content: " ";
  width: 2px;
  height: 300px;
  background-color: rgb(238, 238, 238);
}

.tariffs__item::after {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 300px;
  display: block;
  content: " ";
  width: 2px;
  height: 300px;
  background-color: rgb(238, 238, 238);
}

.tariffs__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  margin-top: 0px;
  background-color: @main;
}

.tariffs__header--hit {
  background: url("../img/bg-hit.svg") no-repeat 8% 0%;
  background-color: @main;
}

.tariffs__header--hit::before {
  position: absolute;
  top: 13px;
  left: 30px;
  content: "ХИТ";
  transform: rotate(315deg);
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}

.tariffs__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.tariffs__price {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.tariffs__labels {
  position: absolute;
  top: 220px;
  left: 40px;
  text-transform: uppercase;
  text-align: left;
}

.tariffs__label {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @main;
}

.tariffs__feature {
  width: 32px;
  height: 60px;
  margin-left: 250px;
}

.tariffs__feature::after {
  position: relative;
  top: 60px;
  right: 250px;
  display: block;
  content: " ";
  width: 320px;
  height: 2px;
  background-color: rgb(238, 238, 238);

}

.tariffs__feature--on {
  background: url("../img/icon-yes.svg") no-repeat 100% 50%;
  background-size: 32px 30px;
}

.tariffs__feature--off {
  background: url("../img/icon-no.svg") no-repeat 100% 50%;
  background-size: 28px 28px;
}

.tariffs__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  padding: 0;
}

.tariffs__toggle {
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 10px;
  background-color: #bec2c7;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}

.tariffs__toggle--active {
  background-color: #f2f2f2;
  border: 3px solid @main;
}

@media (min-width: @tablet-width) {
  .tariffs__wrapper {
    width: @tablet-width;
  }

  .tariffs__item {
    width: 25%;
  }

  .tariffs__list {
    display: flex;
  }
}
